@import "tailwindcss";

body {
  font-family: "FiraGO";
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

/* Datepicker */

.react-datepicker {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #a855f7;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.react-datepicker__header {
  border-bottom: none;
  background-color: #e9d5ff;
}

.react-datepicker__current-month {
  color: #7c3aed;
  font-weight: bold;
}

.react-datepicker__navigation {
  border: none;
  color: #7c3aed;
}

.react-datepicker__day--selected {
  background-color: #a855f7;
  color: white;
  font-weight: bold;
}

.react-datepicker__day:hover {
  background-color: #d8b4fe;
}

.react-datepicker__close-icon {
  background-color: #a855f7;
  border-radius: 50%;
}